.abaixo-do-header{
    background-color: #3C526C;
    padding: 40px 0 2rem 0;
    color: #fff;
}
h2{
    color: #fff;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
}
article{
    padding: 60px 0 60px ;  
}

